div#panel1 {display:block;margin:0 auto;background:#000000 url(https://www.opendrive.com/files/57328720_LshPK/canvas_MTT.PNG) top left no-repeat;width:833px;height:581px;padding-left:45px;border:0px solid red}
div#panel2 {display:none;margin:0 auto;background:#000000 url(https://www.opendrive.com/files/57328720_LshPK/canvas_MTT.PNG) top left no-repeat;width:833px;height:581px;padding-left:45px;border:0px solid blue}
//div#demodiv {height:545px;border:0px solid red}
//div#demodiv2 {height:545px;border:0px solid red}
